* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: "Staatliches", cursive;
  --ff-title-card: "Staatliches", cursive;
  --ff-texting: "Palanquin", sans-serif;
  --ff-texting-desktop: "Roboto", sans-serif;
  --ff-footer: "Open Sans", sans-serif;

  --bg-primary: hsl(218, 17%, 62%);
  --bg-secondary: hsl(233, 100%, 97%);
  --bg-title: hsl(275, 18%, 79%);
  --bg-title-card: hsl(312, 91%, 96%);

  --fc-title-home: hsl(0, 0%, 100%);
  --fc-title-card: hsl(232, 17%, 35%);
  --fc-texting-mob: hsl(274, 84%, 12%);
  --fc-texting-desktop: hsl(0, 0%, 100%);
  --fc-footer: hsl(232, 17%, 35%);

  font-size: 62.5%;
  --fs-title: 4rem;
  --fs-texting: 2rem;
  --fs-title-card: 2rem;
  --fs-footer: 1.4rem;
}

body {
  background: var(--bg-secondary);
}

.page {
  max-width: 38.4rem;
  max-height: 199.5rem;
  margin: 0 auto;
}

header img {
  padding: 3.2rem 0 4.3rem;
}

header {
  background: var(--bg-primary);
  text-align: center;
  padding-bottom: 3rem;
}

header P {
  display: none;
}

header h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-title);
  color: var(--fc-title-home);
  background: var(--bg-title);

  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 0.8rem 0 0.8rem;
}

main {
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 3.6rem;
}

main p {
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  color: var(--fc-texting-mob);
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 30.5rem;
  margin: 0 auto;
  padding: 1.4rem 3.6rem 6.3rem;
}

.card {
  padding: 0 3.2rem;
  position: relative;
}

/* .card + .card {
  margin-top: 3.6rem;
} */

.card.D {
  padding-bottom: 6rem;
}

.card img {
  object-fit: cover;
  height: auto;
  width: 100%;
  height: auto;
}

.card h2 {
  font-family: var(--ff-title-card);
  font-size: var(--fs-title-card);
  color: var(--fc-title-card);

  line-height: 3.4rem;
  letter-spacing: 0.05em;
  font-weight: 400;

  background: var(--bg-title-card);
  width: 11.2rem;
  height: 3.5rem;
  border-radius: 2rem;

  position: absolute;
  left: 22.4rem;
  top: 1.6rem;
  text-align: center;
  align-items: center;
}

.card.repeated {
  display: none;
}

footer {
  display: none;
  padding-bottom: 4.6rem;
}

footer p {
  font-family: var(--ff-footer);
  font-size: var(--fs-footer);
  color: var(--fc-footer);
}

footer a {
  text-decoration: none;
}

@media (min-width: 900px) {
  .page {
    max-width: 128rem;
    max-height: 72rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 100%;

    grid-template-areas:
      "header main"
      "header footer";
  }

  header {
    max-width: 37.7rem;
    max-height: 72rem;
    height: 100vh;

    grid-area: header;
    padding-bottom: 0;
  }

  header h1 {
    margin-bottom: 3.2rem;
    padding: 2.1rem 0 2.1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .card h2 {
    display: none;
  }

  .card.repeated {
    display: contents;
  }

  .card + .card {
    margin-top: ;
  }

 

  header p {
    font-family: var(--ff-texting-desktop);
    font-size: var(--fs-texting);
    color: var(--fc-texting-desktop);

    font-weight: 400;
    line-height: 2;
    text-align: center;

    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }

  main {
    max-width: 90rem;
    display: grid;
    grid-template-columns: auto auto auto;

    gap: 3.2rem;
    padding: 3.2rem;
    grid-area: main;
    grid-template-areas:
      "A B"
      "D C"
      "E F";
  }

  main .A {
    grid-area: A;
  }

  main .B {
    grid-area: B;
  }

  main .C {
    grid-area: C;
  }

  main .D {
    grid-area: D;
  }

  main .E {
    grid-area: A;
  }

  main .F {
    grid-area: D;
  }

  footer {
    display: contents;
    grid-area: footer;
}
  main p {
    display: none;
  }
}